
.formControl.error input,
.formControl.error textarea {
    border: 2px red solid;
    color: red;
}

.formControl.error span {
    color: red;
}

.formError {
    border: 1px solid red;
    padding: 5px 40px;
    color: red;
    display: inline-flex;
}