.App {
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
.app_wrapper {
  min-height: 100%;
  overflow: hidden;
  font-size: 18px;
}
.app_wrapper_container {
  background-color: aliceblue;
  width: 90%;
  overflow: auto ;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;

}
.row {
  display: flex;
  justify-content: space-between;
}
@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width:767px) {
  .container {
    max-width: none;
  }
}

